* {
    border: 1px solid red;
}

.gridSizeButton {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    margin: 10px 0; 
    padding: 5px;
}

.gridMap {
    display:flex;
    justify-content: center;
}

.box {
    width: 2rem;
    height: 2rem;
}

.color {
    background-color: aquamarine;
    width: 2rem;
    height: 2rem;
}